<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">

    <h1><%= titulo %></h1>
   <form action="nuevo-personaje" method="POST">
       <input type="hidden" name="_csrf" value="<%= csrfToken %>">
       <label for="nombre_personaje">Nombre del Pokémon: </label> <input type="text" name="nombre_personaje">
       <label for="resumen_personaje">Descripción del Pokémon: </label> <input type="text" name="resumen_personaje">
       <label for="imagen_personaje">Link de la imagen del Pokémon: </label> <input type="text" name="imagen_personaje">
       <br><br>
       <input type="submit" value="Guardar personaje">
       <br><br>
   </form>
   
</main>

<%- include('partials/footer.ejs') %>